/*
!/.config
/.config/*
!/.local
/.local/*
!/.local/share
/.local/share/*

# Including on repository these folder:
!/.kitty
!/.ssh
!/.tmux
!/.vim
!/.zsh
!/.config/nvim
!/.config/i3
!/.local/share/db_ui

# Including on repository these files:
!/.gitignore
!/*/.gitignore
